# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

APP_BASE_URL=
AUTH0_SECRET=
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=


POSTGRES_URL=postgresql://postgres:postgres@localhost:5442/chatbot

## DOCKER
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=chatbot
PGPORT=5442
